<!doctype html>
<html>
  <head>
    <title><%= yield_content :title %></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <%= yield_content :holiday_results %>
		<%= yield_content :holiday_form %>
    <script src="js/bootstrap.js"></script>
  </body>
</html>